@model sistemabiblioteca.Models.Produto

<h1>Novo Produto</h1>

<form asp-action="Criar" method="post">

    <div>
        <label>Nome</label>
        <input asp-for="Nome" />
    </div>

    <div>
        <label>Descrição</label>
        <input asp-for="Descricao" />
    </div>

    <div>
        <label>Preço</label>
        <input asp-for="Preco" />
    </div>

    <div>
        <label>Categoria</label>
        <input asp-for="Categoria" />
    </div>

    <button type="submit">Salvar</button>

</form>